
#container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    height: 1000px;
    resize: vertical;
    overflow: scroll;
}

#editorContainer {
    flex: 1;
    background-color: #b9b05f00    ; /* White editor background */
    padding: 20px;
    box-shadow: 0 0 10px #00000062;
    margin:5px;
    width: 40%;
    height: 100%;
 

}
#iframeContainer {
    flex:1;
    height: 100%;
    background-color: #b9b05f00    ; /* White editor background */
    padding: 20px;
    box-shadow: 0 0 10px #00000062;
    width: 40%;

    margin:5px;

    
}



#myIFrame {
    width: 100%;
    height: 100%;
    border: none;

    
    
}