.snip1245 {
    font-family: 'Raleway', Arial, sans-serif;
    border: none;
    background-color: #1f2c31; /* Dark blue */
    border-radius: 5px;
    color: #ffffff; /* White text */
    cursor: pointer;
    padding: 0px 20px 0px 70px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    line-height: 2.7em;
    font-weight: 600;
    font-size: 1em;
    outline: none;
    position: relative;
    font-size: 16px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.snip1245:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: inherit;
    border-radius: 10px;
    z-index: -1;
    box-shadow: inset 0 -6px 10px rgba(0, 0, 0, 0.75);
}

.snip1245:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    border-radius: 5px 0 0 5px;
    background-color: rgba(255, 255, 255, 0.15);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.snip1245 i {
    font-size: 1.5em;
    width: 50px;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    border-radius: 5px 0 0 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.snip1245:hover:after,
.snip1245.hover:after {
    width: 100%;
    border-radius: 5px;
}

.snip1245:hover i,
.snip1245.hover i {
    background-color: rgba(255, 255, 255, 0.15);
}