#console {
    margin-top: 50px;
    padding: 10px;
    background-color: #ecf0f1; /* Light blue-gray console background */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.logMessage
{
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.logMessage:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}