@import url(https://fonts.googleapis.com/css?family=Raleway:400,600);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

body {
    font-family: 'Raleway', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #d0d5ff; /* Light gray background */
    color: #495057; /* Dark gray text */
    margin: auto;
    height: 100vh;
    
}






#buttonsContainer {
    display: flex;
    gap: 10px;
    margin: 14px;
}





/* ... (your existing CSS code) ... */


